<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @template.name %>
</p>

<%= link_to 'Edit', curator_edit_template_path(@template) %> |
<%= link_to 'Back', curator_template_path %>
