<h1>Listing updates</h1>

<ul id="updates">
  <% @updates.each do |update| %>
    <li><%= render partial: 'item', locals: { update: update, board: @board } %></li>
  <% end %>
</ul>

<%= new_link new_board_update_path(@board) %>
