<p id="notice"><%= notice %></p>

<time datetime="<%= @update.time.to_s %>"></time>

<%= link_to 'Edit', edit_board_update_path(@board, @update) %> |
<%= link_to 'Back', board_updates_path(@board) %>
