<h1>Boards</h1>

<ul id="boards">
  <% @boards.each do |board| %>
    <li><%= link_to "#{board.client.name}'s #{board.curator.template.name} by #{board.curator.name}", board %> <%= edit_link board %></li>
  <% end %>
</ul>

<%#= link_to 'New Board', new_board_path %>
